@charset "utf-8";

/* https://www.palettable.io/DBE6C3-B4BF99-9F9D39-5F4F4F-A10833 */

html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 1em;
	/*background: #cdd url(./bg.png); */
	color: #5F4F4F;
	background: #DBE6C3;
}

/* headings */

h1 {
	color: #244;
	border-width: 0 0px 6px 0;
	border-style: double solid;
	border-color: #244;
	font-size: 250%;
	font-style: normal;
	font-weight: bold;
	width: 100%;
}

h1:first-letter {
	background: #244;
	color: #cdd;
	padding: 10px 10px 10px;
	margin-right: 3px;
	/*font-size: 150%;*/
}


h2 {
	color: #DBE6D3;
	background: #9F9D39;
	/* border: 2px solid #2B3613; */
	width: 99%;
	padding: 0.2em;
	font-style: normal;
	font-weight: bold;
	font-size: 170%;
}

h3 {
        border-width: 0 0 0 8px;
	border-style: double;
	border-color: #991910;
	width: 99%;
	padding: 0.2em;
	background: #B4BF99;
	font-style: normal;
	font-weight: bold;
	font-size: 140%;
	vertical-align: middle;
}

h4 {
        border-width: 0 0 2px 0;
	border-style: dotted;
	border-color: #B4BF99; /* #991910; */
	padding: 0em 0.4em;
	width: 40%;
	background: #DBE6C3; /* #B4BF99; */
	font-weight: bold;
	font-size: 90%;
	text-align: left;
}

h5 {
	border-width: 0 0 1px;
	border-style: dotted;
	border-color: #366;
	width: 100%;
	font-size: 107%;
}

h6 {
	border-width: 0 0 1px;
	border-style: dashed;
	border-color: #366;
	width: 100%;
	font-size: 100%;
}

/* paragraphs */

p {
	margin: 1em;
	line-height: 125%;
}

li p {
	margin: 0.5em 0.2em;
}

p + p, h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
	text-indent: 1em;
}

/* citations */

cite {
	font-style: italic;
}

q {
	background: #dee;
	color: #033;
}

q:lang(ja) {
	quotes: "「" "」" "『" "』" "《" "》";
}


blockquote {
	margin: 1em;
	border: 3px double #699;
	background: #dee;
	color: #033;
}

blockquote:before {
	display: block;
	background: #699;
	color: #fff;
	padding: 2px;
	content: "Citation:";
}

blockquote[cite]:before {
	display: block;
	background: #699;
	color: #fff;
	padding: 2px;
	font-style: italic;
	content: "Cited from " attr(cite) " :";
}


/* anchors */

a:link {
	color: #00f;
}

a:visited {
	color: #60c;
}

@media all {
a:link, a:visited {
	padding: 2px;
}
}


a:hover, a:active {
	color: red;
	background: #fff;
}

* > a:hover, * > a:active {
	color: inherit;
	background: transparent;
}

* > :link:hover, * > :link:active, * > :link:focus {
	color: #f00;
	background: #fff;
}

* > :visited:hover, * > :visited:active, * > :visited:focus {
	color: #900;
	background: #fff;
}


a[href^="mailto:"]:before {
	content: url(mail.png);
}

/* emphasis */

em {
	font-style: normal;
	font-weight: bold;
}

strong {
	font-style: normal;
	font-weight: bold;
	color: #A10833;
	/* background: #ffd;
	border-width: 0 0 3px;
	border-style: double;
	border-color: #c00; */
}

em em em.more {
	font-size: 110%;
}

em strong, strong em, strong.more, em.most {
	font-size: 130%;
}

strong strong, strong.most {
	font-size: 150%;
}

/* insertion / deletion */

ins {
	font-weight: bold;
	text-decoration: underline;
	background: #fff;
}

del {
	color: #666;
	background: #ccc;
	text-decoration: line-through;
}

ins[datetime]:after {
	font-size: 70%;
	content: "(inserted: " attr(datetime) ")";
}

del[datetime]:after {
	font-size: 70%;
	content: "(deleted: " attr(datetime) ")";
}


/* code / preformatted */

code, samp {
	font-family: monospace;
	padding: 1px;
	border: 1px dotted #366;
	color: #366;
}

pre {
	font-family: monospace;
	font-size: 100%;
	padding: 0.3em 0.7em;
	margin: 1em;
	color: #000;
	background: #eff;
	border: 2px solid #366;
}

/* abbreviations */

abbr, acronym {
	border-width: 0 0 1px;
	border-style: dotted;
	border-color: #39c;
}

abbr[title], acronym[title] {
	cursor: help;
}

/* lists */

dl dt {
	font-weight: bold;
	background: #cee;
	margin-bottom: 0px;
	margin-top: 0.3em;
	line-height: 1.5em;
}


dl dd {
	border-left: 3px solid #9cc;
	margin: 0 0 0 1em;
	line-height: 1.5em;
}

/* Internet Explorer has a bug in displaying dt, dd with padding. */
dl > dt {
	padding: 0.3em;
}
dl > dd {
	padding: 0.2em;
}


li {
	line-height: 125%;
}

/* misc */

address {
	font-size: 90%;
	font-style: normal;
	padding: 0.5em;
	border-width: 1px 0;
	border-style: dashed;
	border-color: #366;
	background: #def;
	width: 99%;
}

address img {
	vertical-align: middle;
}

hr {
	height: 0px;
	border: 0px;
	border-top: 2px solid #B4BF99;
}


.subject {
    text-align: left;
}

.subsubject {
    font-size: 60%;
    vertical-align: bottom;
    text-align: right;
    float: right;
}
